{% extends 'base.html.twig' %}
{% block title %}Votre cours {{ parent() }}{% endblock %}

{% block body %}
    <!-- Banner -->
    <div class="banner">
    </div>
    <!-- End Banner -->

    <main class="container course">
        <section id="detail">
            <h2 class="my-5">{{ course.name|capitalize }}</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#profil">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#details">Détail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#comments">Commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#postcomments">Postez un commentaire</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content my-4">
                <div class="tab-pane fade show active" id="profil">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ asset('img/sections/' ~ course.imageName) }}" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-7">
                            <h4>Description</h4>
                            <p>{{ course.smallDescription }}</p>
                            <h4>Informations</h4>
                            <p class="description">
                                Création: {{ course.createdAt|date('d/m/Y') }}<br>
                                Prix: {{ course.price|format_currency('EUR', locale='fr') }}<br>
                                Durée: {{ course.duration }}<br>
                                Catégorie: {{ course.category.name }}<br>
                                Niveau: <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title="{{course.level.description }}">
                                {{ course.level.name }}
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="details">
                    <h4 class="mt-3">Description complète</h4>
                    <p>{{ course.fullDescription|raw }}</p>
                    <p><a href="{{ asset('img/pdf/' ~ course.pdfName) }}" class="btn btn-primary">Télécharger le programme</a></p>
                </div>
                <div class="tab-pane fade" id="comments">
                 {% for comment in course.comments %}
                    <h5 class="mt-3">{{ comment.title | capitalize }}</h5>
                    <h6>{{ comment.user.firstName }} {{ comment.user.lastName }}</h6>
                    <h6 class="text-muted">Ajouté le {{ comment.createdAt | date('d/m/Y') }} &nbsp;&nbsp;
                    {% for i in 1..5 %}
                        {% if i <= comment.rating %}
                            <i class="icofont-star text-primary"></i>
                        {% else %}
                            <i class="icofont-star text-secondary"></i>
                        {% endif %}
                    {% endfor %}
                    </h6>
                    <p>{{ comment.comment }}</p>
                    <hr>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="postcomments">
                    {% if is_granted('ROLE_USER') %}
                        {# Méthode de l'entité course #}
                        {% set comment = course.commentFromUser(app.user) %}
                        {% if comment is not null %}
                            <h4 class="text-muted my-4">Vous avez déjà posté un commentaire le {{ comment.createdAt|date("d/m/Y") }}</h4>
                            <h5>{{ comment.title }}</h5>
                            <p>{{ comment.comment }}</p>
                        {% else %}
                        <h4 class="my-4">Postez un commentaire</h4>
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-outline-dark">Validez votre commentaire</button>
                    {{ form_end(form) }}
                        {% endif %}
                    {% else %}
                    <h4 class="my-4">Vous devez être connecté</h4>
                    <p>&nbsp;</p>
                    <a href="{{ path('app_login') }}" class="btn btn-outline-primary">Login</a> <a href="{{ path('app_register') }}" class="btn btn-outline-primary">S'enregistrer</a>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

