{% extends 'base.html.twig' %}

{% block title %}Contact {{ parent() }}{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-md-2 my-3">
                <h2 class="display-4 my-3">Nous contactez</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-dark">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}
