{% apply inline_css %}

    <style>
        h2 {
            color: #123;
            font-size: 1.4rem;
            text-align: center;
        }

        h3 {
            font-size: 1.2rem;
            text-decoration: underline;
        }

        p {
            color: #888;
        }
    </style>

{% endapply %}

<h2>{{ title }}</h2>
<hr>
<h3>{{ message }}</h3>
<p>{{ firstName }} {{ lastName }}</p>